# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/

# Environment variables
.env

# IDE
.idea/
.vscode/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Alembic cache
alembic/__pycache__/

# Tutorial / Learning
tutorial/

# Claude
.claude/
CLAUDE.md
